html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto;
    max-width: 50rem;
}

a:link {
    color: #0000EE;
}

a:visited {
    color: #551A8B;
}

h1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

h3 {
    font-family: 'Lato', sans-serif;
}

h4 {
    font-family: 'Lato', sans-serif;
}

p {
    text-align: justify;
}

.vocab {
    color: #550000;
    font-style: italic;
}
